body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
  /*line-height: 1.5;*/
  color: #606c71;
  /*background-color: #f0f0f0;*/
  background-color: #e5e5e5;
}

#header {
  width: auto;
  margin: 0px;
  padding: 0px;
  height: 75px;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
}

.project-name {
  margin:0px;
  color: #fff;
  font-size: 30px;
  line-height: 75px;
  text-align: center;
}


/*共通部分*/

.timeline {
  margin: 0px;
  padding: 0px;
}

.column {
  display: block;
  width: auto;
  margin: 1px 0px 0px 0px;
  padding: 0px;
  height: 60px;
  background-color: #fdfdfd;
  position: relative;
}

.time {
  position: absolute;
  line-height: 60px;
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  right: 5%;
}

.icon {
  position: absolute;
  height: 40px;
  top: 0;
  bottom: 0;
  left: 1%;
  margin: auto;
}

.place,.place_data,.name_data{
  line-height: 60px;
  width :auto;
  font-size: 25px;
  margin: 0px;
  padding: 0px;
}


/*homeのタイムライン*/
.link{
  position: absolute;
  display: block;
  width :85%;
  margin: 0px;
  padding: 0px;
  left: 15%;
  height: 40px;
}


/*詳細ページ*/

.name_data{
  position: absolute;
  left: 15%;
}

.place_data{
  position: absolute;
  left: 5%;
}

.menu {
  display: block;
  width: auto;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  height: 60px;
  background-color: #969694;
  position: relative;
}

.text{
  display: block;
  color: #fff;
  font-size: 30px;
  margin:0px;
  line-height: 60px;
  text-align: center;
}
