* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4em;
  overflow: hidden;
}

header{
  width: 100vw;
  height: 10vh;
  position: fixed;
  background-image: linear-gradient(120deg, #155799, #159957);
  z-index: 100;
  top: 0;
}

.main {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width:300;
  height:100%;
  margin:10;
}

a {
  text-decoration: none;
  text-align: center;
  color: white;
  height: 75%;
  font-size: 3vh;
}

#siteAnchor {
  height: 10vh;
}

#page {
  width: 100vw;
  height: 90vh;
  border: none;
}

#mapAnchor {
  height: 90vh;
  top: 10vh;
}

#mapCanvas { 
  float:left;
  width:70%;
  height:100%;
}

#routeCanvas {
  background-color: white;
  overflow: auto;
  float:right;
  width:30%;
  height:100%;
}