canvas {
  display: none;
}

.content {
  height: 720px;
  margin-left: 200px;
}
#photo {
  position: absolute;
}

.stamp {
  position: absolute;
}
#stamp1 {
  height: 200px;
  margin-top: 500px;
  margin-left: 700px;
}

.videoArea {
  width: 960px;
  height: 720px;
  position: relative;
}
.countWrapper {
  position: absolute;
  top: 0px;
  width: 960px;
  height: 720px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.count {
  font-size: 200px;
  text-shadow: 5px 5px 0px white;
}

.result {
  width: 960px;
  height: 720px;
  z-index: 3;
}

button {
  height: 40px;
  margin-left: 20px;
}

video {
  position: absolute;
  z-index: -1;
}
